<% provide(:title, "About") %>

    <h1>About</h1>
<p>
SLAP! is a non-profit group that delivers quality BDSM learning experiences for the local community.
</p>
<p> You can find our blog at <a href="https://sglearnplay.wordpress.com">Wordpress</a></p>
