<% provide(:title, "Contact") %>

    <h1>Contact</h1>
    <p>
      Contact the developer at <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">someone@example.com</a>
    </p>
