<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Block Party Events</h1>

  <h2>
    Listing community events since 2014
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
